<div class="">
  <a class="hiddenanchor" id="toregister"></a>
  <a class="hiddenanchor" id="tologin"></a>

  <div id="wrapper">
    <div id="login" class="animate form">
      <section class="login_content">
      
            <%= form_for(:seller, url: seller_login_path) do |f| %>
             <h1>Login Form</h1>
              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control' %>

              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control' %>

              <%= f.submit "Log in", class: "btn btn-primary" %>
            <% end %>
          
          <div class="clearfix"></div>
          <div class="separator">

            <p class="change_link">New Seller?
              <%= link_to "Sign up now!", seller_signup_path %>
            </p>
            <div class="clearfix"></div>
            <br />
            <div>
              <h1><i class="fa fa-paw" style="font-size: 26px;"></i> Gentelella Alela!</h1>

              <p>©2015 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
            </div>
          </div>
        <!-- form -->
      </section>
      <!-- content -->
    </div>
 
  </div>
</div>

