<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Category Products</h3>
      </div>

      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                              <button class="btn btn-default" type="button">Go!</button>
                          </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" >
          <div class="x_title">

			<p id="notice"><%= flash[:notice] %></p>

			<ul class="nav">
			<% @products.each do |product| %>
				
				<li style="float: left; padding-right: 120px;"><%= image_tag(product.images[0].small.url) %>
					<p><%= product.title %></p>
					<p>$<%= product.price %></p>
					<p>Seller: <%= product.seller.seller_name %></p>
				</li>

			<% end %>
			</ul>

            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->





