<!DOCTYPE html>
<html>
<head>
  <title>Marketplace</title>
  <%= javascript_include_tag 'frontend', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag    'frontend', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <% if current_page?(:controller => 'catalog', :action => 'checkout') %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">
    Stripe.setPublishableKey('<%=Admin.stripe_publishable_key%>');
  </script>
  <% end %>
</head>

<body style="background:#F7F7F7;">

<div class="container body">

<%= render template: "layouts/_menu" %>


  <% flash.each do |key, value| %>
      <div align="center" id="flash" class="alert alert-<%= key %>">
        <a href="#" data-dismiss="alert" class="close">×</a>
        <ul style="text-align: center">
          <l>
          <b> <%= value %>  </b>
          </l>
        </ul>
      </div>
  <% end %>


  <%= yield %>

</body>
